# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/

# Temp DB scripts
seed.js
*seed.js

# Python / Vision Service
vision-service/.venv/
vision-service/__pycache__/
*.pyc
*.pyo
*.pyd
*.pt
*.onnx
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS Metadata
.DS_Store
Thumbs.db


## Snapshots
backend/public/snapshots/*
